@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* common styles */
:root {
    --main-color: #24424F;
  }
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
}
/* header Section  */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    background-color: #161616;
    width: 80%;
    padding: 0 60px;
    border-radius: 30px;
}
.header-text{
    color: white;
    width: 40%;
}
.header-text h1{
    font-size: 60px;
}
.header-img img{
    width: 500px;
}
.header-text p{
    margin-bottom: 40px;
}
.header-btn{
    text-decoration: none;
    color: white;
    border: 1px solid var(--main-color);
    padding: 10px;
    letter-spacing: 2px;
    transition: all .3s;
}
.header-btn:hover{
    letter-spacing: 10px;
}
/* main section  */
.page-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    width: 15%;
    height: 180px;
    padding: 10px;
    border-radius: 10px;
}
.page-selector a{
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    width: 90%;
    margin: 10px 0;
    padding: 10px 0;
}
.page-selector .match-page{
    color: white;
    background-color: var(--main-color);
}

.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 30px;
    margin-bottom: 100px;
}
.match{
    padding: 40px 10px;
    border: 1px solid rgb(214, 207, 207);
}
    /* Footer  */
footer{
    text-align: center;
    padding: 100px;
    color: white;
    background-color: black;
}
footer h1{
    color: var(--main-color);
}
.footer-options{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.footer-options a{
    text-decoration: none;
    color: white;
    margin: 10px 0;
}
.footer-options a:hover{
    color: var(--main-color);
}
.socials{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    color: var(--main-color);
}
.socials a{
    text-decoration: none;
    color: var(--main-color);

}
/* media queries */
/* mobile devices */
@media only screen and (max-width: 688px){
    /* header */
    .header{
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
    .header-text{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .header-text h1{
        font-size: 35px;
    }
    .header-img img{
        margin-left: 10px;
        width: 100%;
    }
    /* main section  */
    .container{
        flex-direction: column;
        align-items: center;
    }
    .page-selector{
       padding: 0;
       width: 90%;
       display: flex;
       background-color: white;
    }
    .matches{
        grid-template-columns: repeat(1, 1fr);
    }
    /* footer */
    .footer-options{
        flex-direction: column;
    }
    .socials{
        color: white;
        font-size: 30px;
        justify-content: space-around;

    }
}

@media only screen and (min-width: 689px) and (max-width: 992px){
    /* header  */
     .header{
        width: 70%;
     }
     .header-text{
        width: 50%;
     }
     .header-text h1{
        font-size: 35px;
     }
     .header-text{
        font-size: 12px;
     }
     .header-text p{
        margin-bottom: 20px;
     }
     .header-img img{
        width: 100%;
     }
     /* main section  */
     .container{
         flex-direction: column;
         align-items: center;
     }
     .page-selector{
        padding: 0;
        width: 90%;
        display: flex;
        background-color: white;
     }
     .page-selector{
        flex-direction: row;
        width: 80%;
    }
    .page-selector a{
        border: 1px solid var(--main-color);
    }
    .matches{
        grid-template-columns: repeat(2, 1fr);
    }
    /* footer  */
    .footer-options{
        justify-content: space-around;
    }
}